.color-selector button {
    cursor: pointer;
    width: 2.5vw;
    height: 5.3vh;
    border: none;
    border-radius: 50%;
    margin: 0px 8px;
}

.color-selector{
    display: flex;
    justify-content: center;
}