.viewer-container {
    position: relative;
}

.viewer {
    background-size: cover;
    background-position: center;
    cursor: pointer;
    margin: 0px;
    width: 50vw;
    height: 40vh;
    transition: background-image 0.005s ease-in-out;
}

.garantCarImage {
    align-self: flex-end;
    display: flex;
    position: absolute;
    bottom: -20px;
    right: 0;
}
