.InfoSection{
}

.backgroundInfoSection{
    background-color: #d8d8d8;
    width: 70vw;
    height: 65vh;
    border-radius: 0px 20px 20px 0px;
    position: relative;
}

.backgroundInfoSection img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(38%,-50%);
    width: 43vw;
    height: auto;
    border-radius: 20px;
}

.InfoAboutCar{
    margin-top: 10vh;
    height: 30vh;
    background-color: #f2f2f2;
}

.InfoAboutCar ul{
    display: flex;
    padding: 4vh 25vh;
    justify-content: space-between;
    align-items: center;
}

.InfoAboutCar ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.InfoAboutCar ul li img {
    width: 7vw;
    height: 6vw;
    object-fit: contain;
    display: block;
}



.InfoAboutCar ul li p{
    font-size: 2.8vh;
    text-align: center;
}
