.section-all-car-container {
    text-align: center;
    height: 100vh;
    margin-top : 20vh;
  }
  
  .section-all-car-title {
    font-size: 9vh;
    margin-top: 5vh;
    font-weight: 500;
  }
  
  .section-all-car-filters {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
  }
  
  .dropdownButton {
    font-family: Arial, sans-serif;
    font-size: 2.2vh;
    font-weight: bold;
    color: #002142;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    padding-right: 20px;
    margin-top: 5vh;
  }
  
  .dropdownButton::after {
    content: '';
    width: 5px;
    height: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent #02233b #02233b transparent;
    position: absolute;
    transform: rotate(45deg);
    top: 50%;
    right: 5px;
    margin-top: -7px;
    pointer-events: none;
  }
  

  
  
  .dropdown-menu {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 12px 16px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    margin-top: 8px;
    z-index: 1;
    min-width: 12vw;
  }
  
  .dropdown-menu label {
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 2.3svh;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  
  .dropdown-menu label input[type="checkbox"] {
    appearance: none; /* Убираем стандартный стиль */
    width: 20px; /* Устанавливаем ширину */
    height: 20px; /* Устанавливаем высоту */
    background-color: white; /* Цвет фона чекбокса */
    border: 2px solid #333; /* Цвет и толщина рамки */
    border-radius: 1px; /* Убираем закругления */
    transform: scale(1.3); /* Увеличиваем размер */
    margin-right: 0.7vw;
    cursor: pointer;
    position: relative;
  }
  
  /* Стиль для отмеченного состояния */
  .dropdown-menu label input[type="checkbox"]:checked {
    /* background-color: #007bff;
    border-color: #007bff; */
  }
  
  /* Добавляем галочку для отмеченного состояния */
  .dropdown-menu label input[type="checkbox"]:checked::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 10px;
    border: solid rgb(47, 47, 47);
    border-width: 0 2px 2px 0;
    top: 2px;
    left: 6px;
    transform: rotate(45deg);
  }
  
  
  .dropdown-menu label input[type="checkbox"]:checked {
    accent-color: #323232; /* Цвет при активном чекбоксе */
  }
  
  
  .selected-filters {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .selected-filter {
    display: inline-flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 5px 15px;
    margin: 0 5px;
  }
  
  .remove-filter {
    margin-left: 5px;
    cursor: pointer;
    color: #c73535;
    font-weight: bold;
  }
  
  .car-cards{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    padding: 0 25vh;
  }

  .car-card {
    display: flex;
    margin-bottom: -1px;
    height: 19vh;
    padding: 4vh 0vw;
    border-top: 1px solid rgb(199, 199, 199); /* Верхняя граница */
    border-bottom: 1px solid rgb(199, 199, 199); /* Нижняя граница */
    border-left: none; /* Убираем левую границу */
    border-right: none; /* Убираем правую границу */
    overflow: hidden;
    text-align: left;
    justify-content: space-between;
  }
  
  .car-card-content {
    padding: 10px;
  }
  
  .car-card-title {
    font-size: 3.2vh;
    font-weight: bold;
  }
  
  .car-card-specs {
    font-size: 2.2vh;
    color: #8c8c8c;
  }
  
  .car-card-button {
    background-color: #0067b2;
    padding: 1vh 1vw;
    height: 6vh;
    font-size: 2vh;
    cursor: pointer;
    border: none;
    border-radius: 2vh;
    color: white;
  }
  
  .car-card-button-secondary {
    background-color: #02233b;
    border-radius: 2vh;
  }
  
  .load-more-button {
    margin-top: 20px;
    padding: 1vh 1vw;
    height: 6vh;
    font-size: 2vh;
    cursor: pointer;
    border: none;
    border-radius: 2vh;
    background-color: #0067b2;
    color: white;
  }
  