.CarModels ul li a img{
    width: 17vw;
    height: 52vh;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.CarModels ul li {
    list-style: none;
}

.CarModels{
    padding: 0vh 13vw;
}

.CarModels h1{
    margin: 15vh 0 5vh 0;
    font-size: 7vh;
}


.CarModels ul {
    padding: 5vh 0;
    display: flex;
    justify-content: space-around;
}

.CarModels ul li:hover{

}