.ImageViewer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.imageViewerImage {
    width: 7vw;
    height: 9vh;
    border-radius: 0px;
    margin: 0;
    cursor: pointer;
}

.imageViewerImage.first {
    border-start-start-radius: 10px;
    border-end-start-radius: 10px;
}

.imageViewerImage.last {
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
}
